{{ $works := where site.RegularPages "Type" "eq" "work" }}
{{ if gt (len $works) 0 }}
<h3 class="text-lg border-b mb-8">Works</h3>
{{ end }}
{{ range $index, $work := $works }}
<article class="mb-8">
    <!-- add number -->
    <header class="flex items-center justify-between">
        <h5 class="!my-1 text-sm">{{ add $index 1 }}. {{ .Title }}</h5><a href="{{ .Params.url}}" class="opacity-60" target="_blank" rel="noopener noreferrer"><span>{{ .Params.url }}</span> </a>
    </header>

    {{ if eq .Params.type "repo" }}
    <div class="gh-card gh-small" repo="{{ .Params.username }}/{{ .Params.repo }}"></div>
    {{ else }}
    
    {{ end }}
</article>
{{ end }}